* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.couple-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fixed-bg-section {
  height: 600px;
  background-image: url("/images/couple3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-family: var(--font-family-Rajdhani);
}

.overlay-text h1 {
  font-size: 1.3rem !important;
  font-weight: 600;
}

.overlay-text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.overlay-text p {
  color: #fff;
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 991.98px) {
  .fixed-bg-section {
    height: 300px;
    min-height: 120px;
    background-attachment: scroll;
  }
  .overlay-text h1 {
    font-size: 1.2rem !important;
  }
  .overlay-text h2 {
    font-size: 1.3rem;
  }
  .overlay-text p {
    width: 95vw;
    max-width: 95vw;
    font-size: 0.95rem;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .fixed-bg-section {
    height: 350px;
    min-height: 180px;
    background-attachment: scroll;
  }
  .overlay-text h1 {
    font-size: 1.15rem !important;
  }
  .overlay-text h2 {
    font-size: 1.15rem;
  }
  .overlay-text p {
    width: 90vw;
    max-width: 90vw;
    font-size: 1rem;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .fixed-bg-section {
    height: 220px;
    min-height: 120px;
  }
  .overlay-text h1 {
    font-size: 1.05rem !important;
  }
  .overlay-text h2 {
    font-size: 1.05rem;
  }
  .overlay-text p {
    width: 95vw;
    max-width: 95vw;
    font-size: 0.85rem;
  }
}
@media (max-width: 600px) {
  .fixed-bg-section {
    height: 220px;
    min-height: 120px;
    background-attachment: scroll;
  }
  .overlay-text h1 {
    font-size: 0.95rem !important;
  }
  .overlay-text h2 {
    font-size: 0.95rem;
  }
  .overlay-text p {
    width: 95vw;
    max-width: 95vw;
    font-size: 0.85rem;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .fixed-bg-section {
    height: 120px;
  }
  .overlay-text h1 {
    font-size: 0.8rem !important;
  }
  .overlay-text h2 {
    font-size: 0.8rem;
  }
  .overlay-text p {
    font-size: 0.7rem;
  }
}
