.register-wrapper {
  background: linear-gradient(135deg, #0d0d0d, #2a2a2a);
  font-family: var(--font-family-Rajdhani);
  min-height: 100vh;
  padding: 10% 0;
}

.register-box {
  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 50px 40px;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #eee;
}

.underline-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  padding-left: 30px;
  color: #eee;
}

.underline-input::placeholder {
  color: rgba(238, 238, 238, 0.6);
}

.underline-input:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: var(--primary-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.image-upload-placeholder {
  margin: 0 auto;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}


.image-upload-placeholder:hover {
  border-color: #fff300;
}

.form-select {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
}

.form-select .disabled-select {
  color: #5a5a5a;
  font-weight: normal;
}

.form-select option {
  background-color: #ffffff;
  color: #000;
  font-weight: 500;
}

.form-select:focus {
  box-shadow: none;
  border-color: #fff300;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  pointer-events: none;
}

.underline-input,
.form-select {
  padding-left: 36px;
}

form .submit-btn {
  border: 0;
  height: 60px;
  width: 100%;
  border-radius: 6px;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #000;
  color: var(--primary-color);
}

.register-wrapper .input-wrapper {
  width: 100%;
}

form .submit-btn:hover {
  background-color: rgb(75, 75, 75);
  color: var(--primary-color);
}

.image-preview-wrapper {
  position: relative;
  max-width: 100%;
  border-radius: 8px;
  padding: 10px 0;
  border: 2px dashed var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.image-preview-wrapper img.image-preview {
  max-width: 40%;
  border-radius: 8px;
  height: auto;
  display: inline-block;
}

.image-remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  user-select: none;
}

.image-remove-btn:hover {
  background: rgba(255, 0, 0, 0.8);
}

p .lgn-btn {
  color: var(--primary-color);
}

.register-box .serverError {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 12px 0;
  border-radius: 5px;
  margin: 20px 0;
  background-color: #ad0000;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

/* Centered containers for upload and submit button */
.upload-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.submit-btn-container {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn-container .submit-btn {
  width: 100%;
  
}

@media (max-width: 991.98px) {
  .register-wrapper {
    padding: 35% 25px;
  }
  
  .upload-container {
    max-width: 100%;
  }
  
  .submit-btn-container {
    max-width: 100%;
  }
}
